@import 'config'
@import 'fonts'
@import 'variables'
//@import 'flexbox'

body
  background: #{"{{ theme.background_color }}"}
  color: #{"{{ theme.text_color }}"}
  font: 20px/1.4 normal, 'BallPill'
  margin: 20px 20px 0 20px 
  -webkit-font-smoothing: antialiased

img
  max-width: 100%

a
  color: #{"{{ theme.accent_color }}"}
  text-decoration: none

  &:hover
    color: #{"{{ theme.accent_color }}"}
  &.underline
    color: #000
    position: relative
    &:after, &:before
      content: ""
      background-color: #000
      height: 1px
      position: absolute
      bottom: 0
      left: 0
      width: 100%
    &:after 
      transition: width .5s ease
      width: 0
    &:hover:before
      width: 0
    &:hover:after
      width: 100%

ul
  list-style-type: disc

ol
  list-style-type: decimal

ul, ol
  margin-left: $marginSize

ul.unstyled,
ol.unstyled
  list-style-type: none
  margin-left: 0
  padding: 0

.visible-xs
  display: block
  @media screen and (min-width: 767px)
    display: none

.hidden-xs
  @media screen and (max-width: 767px)
    display: none

header#main-header
  font-family: #{"{{ theme.header_font | font_family }}"}
  margin-bottom: 24rem

  .brand
    @media screen and (max-width:767px)
      position: fixed
      width: 100%
      left: .8rem
      top: 2rem
      z-index: 999
    @media screen and (min-width:767px)
      display: -webkit-box
      display: -moz-box
      display: -ms-flexbox
      display: -webkit-flex
      display: flex
      -webkit-box-pack: justify
      -moz-box-pack: justify
      -ms-flex-pack: justify
      justify-content: space-between 
      text-transform: uppercase
      margin-left: -.5rem
    a
      color: #000

    .logo-img
      display: block
      @media screen and (max-width:767px)
        width: 3em

      @media screen and (min-width:767px)
        img
          max-width: none
  
  #mobile-btn
    width: 16px
    height: 16px
    cursor: pointer
    transition: background-color .3s ease
    background-color: #{"{{ theme.accent_color }}"}
    border-radius: 100%
    position: fixed
    right: 1em
    top: 3.2rem
    z-index: 999
  .logo-img
    opacity: 1
    transition: opacity .5s ease .5s

  nav
    @media screen and (max-width:767px)
      position: fixed
      transition: transform .5s ease
      background: #{"{{ theme.accent_color }}"}
      top: 0
      left: 0
      transform: translate(100%,0)
      width: 100%
      height: 100vh
      font-size: 2.5em
      z-index: 998
      .wh-logo
        width: 3.3rem
        position: relative
        top: 1.5rem
        left: 1rem
    @media screen and (min-width:767px)
      text-align: right
      margin: 0
      -webkit-transform: translate(0,-200%)
      transform: translate(0,-200%)
    
    ul
      @media screen and (max-width:767px)
        padding: 3.7rem 1rem 0 1rem
        text-transform: uppercase
        margin: 0

      li
        list-style: none
        padding-bottom: 1rem
        @media screen and (min-width:767px)
          display: inline-block
          padding-left: 3em
          padding-bottom: 0

        a
          color: #fff
          transition: color .3s ease
          @media screen and (min-width:767px)
            color: #000
            &:hover
              color: rgba(#000, .5)

header#main-header .brand a,
#about header#main-header nav li a
  color: #fff

.menu-open header#main-header
  #mobile-btn
    background-color: #fff
  .logo-img
    opacity: 0
  nav 
    @media screen and (max-width:767px)
      transform: translate(0,0)

h1, h2, h3, h4, h5
  font-family: #{"{{ theme.header_font | font_family }}"}
  font-weight: 500

div.wrap
  display: table
  width: 100%

footer#main-footer
  background-color: #{"{{ theme.accent_color }}"}
  padding: 1.25rem
  margin-left: -1.25rem
  margin-right: -1.25rem
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 340px
  position: relative

  a
    color: #fff
    transition: color .5s ease
    &:hover
      color: rgba(#fff, .5)
    
    &.logo-name
      position: absolute
      right: 1em
      top: 1em
      -webkit-transform: rotate(90deg) translate(3rem, -3rem)
      transform: rotate(90deg) translate(3.5rem, -3rem)

    &.logo-small
      position: absolute
      bottom: 1rem
      left: .5rem

  ul
    padding: 0
    margin: 0
    display: inline-block
    &:first-child
      padding-right: 8.25rem
    
    li
      list-style: none
      


aside
  border-right: $border
  display: table-cell
  width: 20%
  text-align: right

  section
    margin-bottom: 1.5em

  ul
    margin-bottom: 1.5em
    margin-top: 0

    li
      margin-bottom: .3em

      a
        color: #999
        font-size: .9em

        &:hover
          color: #333

  cite a
    background: url(#{"{{ 'badge.png' | theme_image_url }}"}) no-repeat
    border: none
    display: block
    height: 23px
    overflow: hidden
    text-indent: 100%
    width: 79px
    white-space: nowrap

section.content

  h1, .headline-1
    padding: 1rem 0
    margin: 0
    font-size: 3.5em
    @media screen and (max-width:767px)
      font-size: 2.5em

  h2, .headline-2
    padding: 1rem 0
    margin: 0
    font-size: 2.5em
    @media screen and (max-width:767px)
      font-size: 1.5em
  
  h2.mini-title
    font-family: 'Roboto', sans-serif
    font-size: 1em

  h3, .headline-3
    font-size: 2em
    margin: 0
    @media screen and (max-width:767px)
      font-size: 1.5em

  h1
    position: absolute
    -webkit-transform: translate(0,-100%)
    transform: translate(0,-100%)

    

body:not(#product) section.content h1
  text-transform: uppercase

form
  li
    margin-bottom: 1.2em

  label
    display: block
    margin-bottom: .2em

  input,
  textarea
    border: 1px solid #ddd
    padding: 5px
    width: 350px

select
  padding: 1.25rem
  width: 14.5em
  height: 4em
  border-color: #{"{{ theme.accent_color }}"}
  border-radius: 4px
  color: #{"{{ theme.accent_color }}"}
  outline: none
  -webkit-appearance: none
  appearance: none
  background: url("./images/chevron.svg") no-repeat calc(100% - 1em) center
  margin-bottom: 1em
  &:focus
    outline: none

.btn.add-to-cart
  background-color: #{"{{ theme.accent_color }}"}
  border: none
  border-radius: 80px
  padding: 1.25em 4.25em
  color: #fff
  font-size: 1em

.pagination
  text-align: right
  padding: 2em 0
  font-size: .8em
  .disabled
    display: none

.errors
  border-top: 1px soldi #A65A5A
  margin-bottom: 3em

  li
    background: #D97576
    border-bottom: 1px soldi #A65A5A
    color: #fff
    padding: 3px 10px

#about
  background-color: #{"{{ theme.accent_color }}"}
  color: #fff
  .content
    max-width: 75%
    margin-bottom: 15.55em
    p
      color: #fff
    p:not(.small)
      font-size: 2.5em
      @media screen and (max-width:767px)
        font-size: 1.5em

.big-balls
  margin: 0
  padding: 0
  position: fixed
  right: 1em
  bottom: 1em
  z-index: 99
  li
    list-style: none
    width: 8em
    height: 8em
    border-radius: 100%
    background-color: #fff
    position: relative
    display: inline-block
    a 
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

#artists
  .big-balls
    display: none

.row.artist
  padding-top: 6rem
  display: grid
  grid-template-columns: repeat(2,1fr)
  grid-gap: 1em
  &:last-of-type
  margin-bottom: 6rem
    
  .text-bloc
    max-width: 450px

    ul
      margin: 0
      padding: 0
      list-style: none
      a
        line-height: 2rem
        &:after, &:before
          background-color: #{"{{ theme.accent_color }}"}
        

       