@import 'config'
@import 'fonts'
@import 'variables'
//@import 'flexbox'

body
  background: #{"{{ theme.background_color }}"}
  color: #{"{{ theme.text_color }}"}
  font: 20px/1.4 normal, 'BallPill'
  margin: 20px 20px 0 20px 
  -webkit-font-smoothing: antialiased

a
  color: #4D00E0
  text-decoration: none

  &:hover
    color: #4D00E0

ul
  list-style-type: disc

ol
  list-style-type: decimal

ul, ol
  margin-left: $marginSize

ul.unstyled,
ol.unstyled
  list-style-type: none
  margin-left: 0
  padding: 0

header#main-header
  font-family: #{"{{ theme.header_font | font_family }}"}
  margin-bottom: 18em

  .brand
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: justify
    -moz-box-pack: justify
    -ms-flex-pack: justify
    justify-content: space-between 
    text-transform: uppercase
    margin-left: -.5rem
    a
      color: #000

  nav
    text-align: right
    margin: 0
    -webkit-transform: translate(0,-200%)
    transform: translate(0,-200%)

    li
      display: inline-block
      padding-left: 3em
      a
        color: #000
        //@include transition(color .3s ease)
        &:hover
          //color: rgba(#000, .5)

h1, h2, h3, h4, h5
  font-family: #{"{{ theme.header_font | font_family }}"}
  font-weight: 500

div.wrap
  display: table
  width: 100%

footer#main-footer
  background-color: #4D00E0
  padding: 1.25rem
  margin-left: -1.25rem
  margin-right: -1.25rem
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  height: 340px
  position: relative

  a
    color: #fff
    
    &.logo-name
      position: absolute
      right: 1rem
      top: 1rem
      -webkit-transform: rotate(90deg) translate(3rem, -3rem)
      transform: rotate(90deg) translate(3rem, -3rem)

  ul
    padding: 0
    margin: 0
    display: inline-block
    &:first-child
      padding-right: 8.25rem
    
    li
      list-style: none
      


aside
  border-right: $border
  display: table-cell
  padding-right: $marginSize
  width: 20%

  section
    margin-bottom: 1.5em

  ul
    margin-bottom: 1.5em
    margin-top: 0

    li
      margin-bottom: .3em

      a
        color: #999
        font-size: .9em

        &:hover
          color: #333

  cite a
    background: url(#{"{{ 'badge.png' | theme_image_url }}"}) no-repeat
    border: none
    display: block
    height: 23px
    overflow: hidden
    text-indent: 100%
    width: 79px
    white-space: nowrap

section.content

  h1
    position: absolute
    -webkit-transform: translate(0,-100%)
    transform: translate(0,-100%)
    padding: 1rem 0
    margin: 0
    font-size: 3.5em
    

body:not(#product) section.content h1
  text-transform: uppercase

form
  li
    margin-bottom: 1.2em

  label
    display: block
    margin-bottom: .2em

  input,
  textarea
    border: 1px solid #ddd
    padding: 5px
    width: 350px


.errors
  border-top: 1px soldi #A65A5A
  margin-bottom: 3em

  li
    background: #D97576
    border-bottom: 1px soldi #A65A5A
    color: #fff
    padding: 3px 10px
