<!DOCTYPE html>
<html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header id="main-header">
      <div class="brand">
        <a class="logo-img" href="/" title="{{ store.name | escape }}">
          {% if theme.logo != blank %}
          <img src="{{ theme.logo.url }}" alt="{{ store.name }}">
          {% endif %}
        </a>
        <a class="logo-name" href="/" title="{{ store.name | escape }}">  
          {{ store.name }}
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/products">Shop</a></li>
          {% for page in pages.all %}
            <li>{{ page | link_to }}</li>
          {% endfor %}
          {% if theme.instagram_username != blank %}
            <li><a target="_blank" href="https://www.instagram.com/{{ theme.instagram_username }}">Follow</a></li>
          {% endif %}
          <li><a href="/cart">Cart ({{ cart.total | money_with_sign }})</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrap">
     <!--  <aside>
       

        {% if theme.show_search %}
        <section>
          <form action="/products" method="get">
            <label>Search: <input type="text" name="search"></label>
          </form>
        </section>
        {% endif %}

      </aside>
 -->
      <section class="content">
        <h1>{% if page.name == 'Home' %} Boutique {% else %} {{ page.name }} {% endif %}</h1>

        {% if errors != blank %}
        <ul class="unstyled errors">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if page.category == 'custom' %}
          {{ page_content | paragraphs }}
          <ul class="big-balls">
            <li><a href="mailto:{{ theme.mail}}" alt="mail coupe au bol">Contact</a></li>
            <li>
              {% if theme.instagram_username != blank %}
                <a href="https://www.instagram.com/{{ theme.instagram_username }}">Follow</a>
              {% endif %}
            </li>
          </ul>
        {% else %}
          {{ page_content }}
        {% endif %}
      </section>
    </div>

    <footer id="main-footer">
      <ul>
        <li><a href="/products">Shop</a></li>
        {% for page in pages.all %}
          <li>{{ page | link_to }}</li>
        {% endfor %}
      </ul>
      <ul>
        <li><a href="mailto:{{ theme.mail}}" alt="mail coupe au bol">Contact</a></li>
        <li>
          {% if theme.instagram_username != blank %}
            <a href="https://www.instagram.com/{{ theme.instagram_username }}">Follow</a>
          {% endif %}
        </li>
      </ul>
      <a class="logo-small" href="/" title="{{ store.name | escape }}">
        {% if theme.logo_small != blank %}
        <img src="{{ theme.logo_small.url }}" alt="{{ store.name }}">
        {% endif %}
      </a>
       <a class="logo-name" href="/" title="{{ store.name | escape }}">  
        {{ store.name }}
      </a>
    </footer>
  </body>
</html>
