
<div class="headline-1 price">{{ product.default_price | money_with_sign }}</div>

<section class="product_images">
  <figure class="product-ratio">
    <img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}" class="primary_image">


  {% if product.images.size > 1 %}
  <ul class="unstyled">
    {% for image in product.images %}
    <li{% if forloop.first %} class="selected"{% endif %}><a href="{{ image | product_image_url }}"><img src="{{ image | product_image_url size:"thumb" }}" alt="Image of {{ product.name | escape }}"></a></li>
    {% endfor %}
  </ul>
  {% endif %}
</figure>
</section>

<div class="product-infos">
  <aside>
    {% case product.status %}

      {% when 'sold-out' %}
        <h5><em>Sold Out</em></h5>

      {% when 'coming-soon' %}
        <h5><em>Coming Soon</em></h5>

      {% when 'active' %}
        {% if product.on_sale %}<h5>On Sale</h5>{% endif %}
       <!--  <h5>Availability</h5>
        <ul class="unstyled availability">
         
          {% for option in product.options %}
          <li>
            {% unless product.has_default_option %}<span>{{ option.name }}</span>{% endunless %}
            <span>{% if option.sold_out %}Sold Out{% endif %}</span>
            <b>
              <b style="width:{{ option.inventory }}%"></b>
            </b>
          </li>
          {% endfor %}
        </ul> -->

        <form method="post" action="/cart">
          {% if product.has_default_option %}
            {{ product.option | hidden_option_input }}
            {% else %}
            <div>
            {{ product.options | options_select }}
            </div>
          {% endif %}
          <button class="btn add-to-cart" name="submit" type="submit" title="Add to Cart">Add to Cart</button>
        </form>
    {% endcase %}
  </aside>

  <div class="text headline-3">
    {% if product.description != blank %}
      {{ product.description | paragraphs }}
    {% endif %}
  </div>
</div>

<div class="related">
{% if product.categories %}
  {% for cat in product.categories %}
    {% if forloop.first %}
      <h3>Other {{ cat.name }}</h3>
      <ul class="unstyled products-grid">
      {% for prod in cat.products %}
        {% if prod.id != product.id %}
          <li class="{{ prod.css_class }}">
            <a href="{{ prod.url }}">
              <figure class="product-ratio">
                <img alt="Image of {{ prod.name | escape }}" src="{{ prod.image | product_image_url size: auto }}">
              </figure>
              <section class="infos">
                <div>
                  <span>{{ prod.name }}</span>
                  <span>{{ prod.default_price | money_with_sign }}</span>
                  {% if prod.on_sale %}
                    <em>En solde</em>
                  {% endif %}
                </div>
                {% if prod.categories %}
                  <div>
                  {% for cat in prod.categories %}
                    {% if forloop.first %}
                      <span>{{ cat.name }}</span>
                      {% if forloop.length > 2 %}, {% endif %}
                    {% elsif forloop.last %}
                      <span>{{ cat.name }}</span>
                    {% else %}
                      <span>{{ cat.name }},</span>
                    {% endif %}
                  {% endfor %}
                  </div>
                {% endif %}
              </section>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
</div>